* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F5F5F5;
}

.title {
  background-color: #546de5;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  height: 80px;
  line-height: 80px;
  padding-left: 10px;
}

.container {
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    border: 2px solid #000;
    max-width: 500px;
}

.saludo {
    margin: 0 auto;
    max-width: auto;
    color: #546de5;
    font-size: 1.2rem;
}


.input {
    margin: 0 auto;
    margin-top: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.input .input-text {
    background-color: white;
    height: 33px;
}

.input .btn {
    background-color: #546de5;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
}

.input .btn:hover {
    background-color: #4960d3;
}

.container .lista-tareas {
    margin-top: 30px;
}

.container .lista-tareas li {
    list-style: none;
    background-color: white;
    border-bottom: 1px solid #000;
    border-left: 0;
    border-right: 0;
    padding: 10px;
    height: 50px;
    font-size: 1.2rem;
}

.lista-tareas .tarea:hover {
    background-color: #dfe4fa;
}

footer p {
    background-color: #546de5;
    height: 35px;
    color: white;
    text-align: center;
    line-height: 30px;
}